<% layout('../layout') %>
<h1><%= mobile %></h1>
<form action="/form" method="GET">
    <%= exp %>經驗值<p></p>
    <%= gp %>金點<p></p>
    <%= sp %>銀點<p></p>
    <input type="submit" value="回首頁">
</form>
