<% layout('../layout') %>
<h1><%= mob %></h1>
<form action="/result/add" method="POST">
    經驗值 + <input name="addExp" type="text"><p></p>
    銀點 + <input name="addSlv" type="text"><p></p>
    金點 + <input name="addGld" type="text"><p></p>
    <input type="submit" value="確定">
</form>
  